*{
  box-sizing: border-box;
}

.body{
  margin: 10% auto;
  width: 400px;
  height: auto;
  background: rgb(166, 160, 160);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #000;
  box-shadow: 5px 10px #2f2f2f;
}

.displaySection input{
  text-align: right;
  width: 350px;
  height: 60px;
  margin: 10px;
  margin-top: 30px;
  background: rgb(97, 94, 94);
  border: solid 3px #000;
  box-shadow: 5px 5px #888888;
  color: #ffffff;
  font-size: large;
}

.buttonsSection{
  width: 350px;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  background: rgb(222, 212, 212);
  padding: 30px 20px;
}

.button{
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: rgb(96, 92, 92);
  color: #f3f3f3;
  font-size: large;
  box-shadow: 5px 5px #888888;
}

.clrbutton{
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: rgb(165, 35, 35);
  color: #f3f3f3;
  font-size: large;
  box-shadow: 5px 5px #888888;
}

.button:hover{
  background-color: #7c7777;
}

.clrbtn{
  background: red;;
}

.red{
  background-color: blue;
}